<!-- START JUMBOTRON -->
<div class="jumbotron" data-pages="parallax">
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <!-- START BREADCRUMB -->
      <ul class="breadcrumb">
        <li>
          <p><%= t('shopkeeper_panel.name') %></p>
        </li>
        <li><%= t('shopkeeper_panel.activation.name') %>
        </li>
        <li><a href="#" class="active"><%= @user.name %></a>
        </li>
      </ul>
      <!-- END BREADCRUMB -->
    </div>
  </div>
</div>
<!-- END JUMBOTRON -->



<div class="container-fluid container-fixed-lg">
<%= form_tag(controller: "shopkeeper", action: "activate_submit", method: "get") do %>
  <div id="rootwizard" class="m-t-50">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs nav-tabs-linetriangle nav-tabs-separator nav-stack-sm">
      <li class="active">
        <a data-toggle="tab" href="#tab1"><i class="fa fa-shopping-cart tab-icon"></i> <span><%= t('shopkeeper_panel.activation.page2.tab1') %></span></a>
      </li>
      <li class="">
        <a data-toggle="tab" href="#tab2"><i class="fa fa-truck tab-icon"></i> <span><%= t('shopkeeper_panel.activation.page2.tab2') %></span></a>
      </li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      
      <%= hidden_field_tag(:activate_id, @activate_id) %>
      <div class="tab-pane slide-left padding-20 active" id="tab1">
        <div class="row row-same-height">
          <div class="col-md-5 b-r b-dashed b-grey ">
            <div class="padding-30 m-t-50">
              <h2><%= t('shopkeeper_panel.activation.page2.confirminfo_msg') %></h2>
              <p><%= t('shopkeeper_panel.activation.page2.confirminfo_msg2') %></p>
              <p class="small hint-text"><%= t('shopkeeper_panel.activation.page2.confirminfo_msg3') %></p>
            </div>
          </div>
          <div class="col-md-7">
            <div class="padding-30">
              <p><%= t('shopkeeper_panel.activation.page2.contact_info') %></p>
              <div class="form-group-attached">
                <div class="row clearfix">
                  <div class="col-sm-6">
                    <div class="form-group form-group-default required">
                      <label for="form_name"><%= t('users.registrations.new.form.name') %></label>
                      <input type="text" class="form-control" value="<%= @user.name %>" id="form_name" name="name" required>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group form-group-default">
                      <label for="form_chi_name"><%= t('users.registrations.new.form.chi_name') %></label>
                      <input type="text" class="form-control" value="<%= @user.chi_name %>" id="form_chi_name" name="chi_name">
                    </div>
                  </div>
                </div>
                <div class="row clearfix">
                  <div class="col-sm-6">
                    <div class="form-group form-group-default required">
                      <label for="form_email"><%= t('shopkeeper_panel.activation.page2.email') %></label>
                      <input type="text" class="form-control" value="<%= @user.email %>" id="form_email" name="email" required>
                  </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group form-group-default required">
                      <label for="form_mobile"><%= t('shopkeeper_panel.activation.page2.mobile') %></label>
                      <input type="text" class="form-control" value="<%= @user.mobile %>" id="form_mobile" name="mobile" required>
                    </div>
                  </div>
                </div>
                 <div class="form-group form-group-default">
                  <label for="form_major"><%= t('users.registrations.new.form.major') %></label>
                  <select id="form_major" name="major" class="full-width" data-init-plugin="select2">
                    <optgroup label="Scroll Down for MORE">
                      <option value="N/A"<% if @user.major == "N/A" -%> selected<% end -%>>N/A</option>
                    </optgroup>
                    <optgroup label="<%= t('users.registrations.new.form.major_name.na') %>">
                      <option value="Master"<% if @user.major == "Master" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.master') %></option>
                      <option value="Doctor"<% if @user.major == "Doctor" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.doctor') %></option>
                      <option value="Other"<% if @user.major == "Other" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.other') %></option>
                    </optgroup>
                    <optgroup label="<%= t('users.registrations.new.form.major_name.fa') %>">
                      <option value="ANTH"<% if @user.major == "ANTH" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.anth') %></option>
                      <option value="CHLL"<% if @user.major == "CHLL" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.chll') %></option>
                      <option value="CULS"<% if @user.major == "CULS" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.culs') %></option>
                      <option value="CUMT"<% if @user.major == "CUMT" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.cumt') %></option>
                      <option value="ENGE"<% if @user.major == "ENGE" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.enge') %></option>
                      <option value="FAAS"<% if @user.major == "FAAS" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.faas') %></option>
                      <option value="HIST"<% if @user.major == "HIST" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.hist') %></option>
                      <option value="JASP"<% if @user.major == "JASP" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.jasp') %></option>
                      <option value="LING"<% if @user.major == "LING" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.ling') %></option>
                      <option value="MUSC"<% if @user.major == "MUSC" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.musc') %></option>
                      <option value="PHIL"<% if @user.major == "PHIL" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.phil') %></option>
                      <option value="RELS"<% if @user.major == "RELS" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.rels') %></option>
                      <option value="THEO"<% if @user.major == "THEO" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.theo') %></option>
                      <option value="TRAN"<% if @user.major == "TRAN" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.tran') %></option>
                    </optgroup>
                    <optgroup label="<%= t('users.registrations.new.form.major_name.fba') %>">
                      <option value="BBBA"<% if @user.major == "BBBA" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.bbba') %></option>
                      <option value="HTMG"<% if @user.major == "HTMG" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.htmg') %></option>
                      <option value="IBBA"<% if @user.major == "IBBA" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.ibba') %></option>
                      <option value="PACC"<% if @user.major == "PACC" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.pacc') %></option>
                    </optgroup>
                    <optgroup label="<%= t('users.registrations.new.form.major_name.fed') %>">
                      <option value="BMED"<% if @user.major == "BMED" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.bmed') %></option>
                      <option value="CLED"<% if @user.major == "CLED" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.cled') %></option>
                      <option value="ELED"<% if @user.major == "ELED" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.eled') %></option>
                      <option value="ESHE"<% if @user.major == "ESHE" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.eshe') %></option>
                      <option value="LSED"<% if @user.major == "LSED" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.lsed') %></option>
                      <option value="PESH"<% if @user.major == "PESH" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.pesh') %></option>
                    </optgroup>
                    <optgroup label="<%= t('users.registrations.new.form.major_name.ferg') %>">
                      <option value="BERG"<% if @user.major == "BERG" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.berg') %></option>
                      <option value="BMEG"<% if @user.major == "BMEG" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.bmeg') %></option>
                      <option value="CENG"<% if @user.major == "CENG" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.ceng') %></option>
                      <option value="CSCI"<% if @user.major == "CSCI" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.csci') %></option>
                      <option value="ELEG"<% if @user.major == "ELEG" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.eleg') %></option>
                      <option value="ENER"<% if @user.major == "ENER" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.ener') %></option>
                      <option value="IERG"<% if @user.major == "IERG" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.ierg') %></option>
                      <option value="MAEG"<% if @user.major == "MAEG" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.maeg') %></option>
                      <option value="SEEM"<% if @user.major == "SEEM" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.seem') %></option>
                    </optgroup>
                    <optgroup label="<%= t('users.registrations.new.form.major_name.flaw') %>">
                      <option value="LAWS"<% if @user.major == "LAWS" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.laws') %></option>
                    </optgroup>
                    <optgroup label="<%= t('users.registrations.new.form.major_name.fmed') %>">
                      <option value="CHPR"<% if @user.major == "CHPR" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.chpr') %></option>
                      <option value="BCME"<% if @user.major == "BCME" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.bcme') %></option>
                      <option value="BSCG"<% if @user.major == "BSCG" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.bscg') %></option>
                      <option value="MEDU"<% if @user.major == "MEDU" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.medu') %></option>
                      <option value="NURS"<% if @user.major == "NURS" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.nurs') %></option>
                      <option value="PHAR"<% if @user.major == "PHAR" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.phar') %></option>
                      <option value="PHPC"<% if @user.major == "PHPC" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.phpc') %></option>
                    </optgroup>
                    <optgroup label="<%= t('users.registrations.new.form.major_name.fsci') %>">
                      <option value="BSCI"<% if @user.major == "BSCI" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.bsci') %></option>
                      <option value="BCHE"<% if @user.major == "BCHE" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.bche') %></option>
                      <option value="BIOL"<% if @user.major == "BIOL" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.biol') %></option>
                      <option value="CMBI"<% if @user.major == "CMBI" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.cmbi') %></option>
                      <option value="CHEM"<% if @user.major == "CHEM" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.chem') %></option>
                      <option value="ENSC"<% if @user.major == "ENSC" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.ensc') %></option>
                      <option value="FNSC"<% if @user.major == "FNSC" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.fnsc') %></option>
                      <option value="ESSC"<% if @user.major == "ESSC" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.essc') %></option>
                      <option value="MATH"<% if @user.major == "MATH" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.math') %></option>
                      <option value="MBTE"<% if @user.major == "MBTE" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.mbte') %></option>
                      <option value="PHYS"<% if @user.major == "PHYS" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.phys') %></option>
                      <option value="STAT"<% if @user.major == "STAT" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.stat') %></option>
                      <option value="NSCI"<% if @user.major == "NSCI" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.nsci') %></option>
                      <option value="RMSC"<% if @user.major == "RMSC" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.rmsc') %></option>
                    </optgroup>
                    <optgroup label="<%= t('users.registrations.new.form.major_name.fssci') %>">
                      <option value="BSSC"<% if @user.major == "BSSC" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.bssc') %></option>
                      <option value="ARCH"<% if @user.major == "ARCH" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.arch') %></option>
                      <option value="COMM"<% if @user.major == "COMM" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.comm') %></option>
                      <option value="CCSS"<% if @user.major == "CCSS" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.ccss') %></option>
                      <option value="ECON"<% if @user.major == "ECON" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.econ') %></option>
                      <option value="GDRS"<% if @user.major == "GDRS" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.gdrs') %></option>
                      <option value="GLBS"<% if @user.major == "GLBS" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.glbs') %></option>
                      <option value="GPAD"<% if @user.major == "GPAD" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.gpad') %></option>
                      <option value="GRMD"<% if @user.major == "GRMD" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.grmd') %></option>
                      <option value="PSYC"<% if @user.major == "PSYC" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.psyc') %></option>
                      <option value="SOCI"<% if @user.major == "SOCI" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.soci') %></option>
                      <option value="SOWK"<% if @user.major == "SOWK" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.sowk') %></option>
                      <option value="URSP"<% if @user.major == "URSP" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.ursp') %></option>
                    </optgroup>
                    <optgroup label="<%= t('users.registrations.new.form.major_name.intd') %>">
                      <option value="GLEF"<% if @user.major == "GLEF" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.glef') %></option>
                      <option value="QFRM"<% if @user.major == "QFRM" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.qfrm') %></option>
                      <option value="MIEG"<% if @user.major == "MIEG" -%> selected<% end -%>><%= t('users.registrations.new.form.major_name.mieg') %></option>
                    </optgroup>
                  </select>
                </div>
                <div class="row clearfix">
                  <div class="col-sm-6">
                    <div class="form-group form-group-default">
                      <label for="form_year_of_admission"><%= t('users.registrations.new.form.year_of_admission') %></label>
                      <input type="text" class="form-control" value="<%= @user.year_of_admission %>" id="form_year_of_admission" name="year_of_admission">
                  </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group form-group-default">
                      <label for="form_year_of_graduation"><%= t('users.registrations.new.form.year_of_graduation') %></label>
                      <input type="text" class="form-control" value="<%= @user.year_of_graduation %>" id="form_year_of_graduation" name="year_of_graduation">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane slide-left padding-20" id="tab2">
        <div class="row row-same-height">
          <div class="col-md-5 b-r b-dashed b-grey ">
            <div class="padding-30 m-t-50">
              <h2><%= t('shopkeeper_panel.activation.page2.regculink_msg') %></h2>
              <p><%= t('shopkeeper_panel.activation.page2.regculink_msg2') %></p>
            </div>
          </div>
          <div class="col-md-7">
            <div class="padding-30">
              <div class="form-group-attached">
                <div class="row clearfix">
                  <div class="col-sm-12">
                    <div class="form-group form-group-default required">
                      <label for="form_cid"><%= t('shopkeeper_panel.activation.page2.regculink_cardid') %></label>
                      <input type="text" placeholder="<%= t('shopkeeper_panel.activation.page2.regculink_cardid_placeholder') %>" class="form-control" id="form_cid" name="cid" required autofocus>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      

      <div class="padding-20 bg-white">
        <ul class="pager wizard">
          <li class="next">
            <button class="btn btn-primary btn-cons btn-animated from-left fa fa-truck pull-right" type="button" style="height: 36px">
              <span>Next</span>
            </button>
          </li>
          <li class="next finish hidden">
            <button class="btn btn-primary btn-cons btn-animated from-left fa fa-cog pull-right" type="submit">
              <span>Finish</span>
            </button>
          </li>
          <li class="previous first hidden">
            <button class="btn btn-default btn-cons btn-animated from-left fa fa-cog pull-right" type="button">
              <span>First</span>
            </button>
          </li>
          <li class="previous">
            <button class="btn btn-default btn-cons pull-right" type="button">
              <span>Previous</span>
            </button>
          </li>
        </ul>
      </div>
      <% end %>
    </div>
  </div>
</div>