<!-- START JUMBOTRON -->
<div class="jumbotron" data-pages="parallax">
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <!-- START BREADCRUMB -->
      <ul class="breadcrumb">
        <li>
          <p><%= t('shopkeeper_panel.name') %></p>
        </li>
        <li><a href="#" class="active"><%= t('shopkeeper_panel.activation.name') %></a>
        </li>
      </ul>
      <!-- END BREADCRUMB -->
    </div>
  </div>
</div>
<!-- END JUMBOTRON -->



<div class="panel-body">
  <div class="row">
    <div class="col-sm-10">
      <h3><%= t('shopkeeper_panel.activation.page1.msg') %></h3>
      <br>
      <form id="form-work" class="form-horizontal" role="form" autocomplete="off" accept-charset="UTF-8" method="post" action="<%= request.fullpath.split("?")[0] -%>/get_user<% if I18n.locale == :en %>?locale=en<% end %>">
        <%= hidden_field_tag(:authenticity_token, form_authenticity_token) %>
        <div class="form-group">
          <label for="activate_id" class="col-sm-3 control-label"><%= t('shopkeeper_panel.activation.page1.id') %></label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="activate_id" placeholder="<%= t('shopkeeper_panel.activation.page1.id_placeholder') %>" name="activate_id" required>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-9">
            <button class="btn btn-success" type="submit"><%= t('shopkeeper_panel.activation.page1.submit') %></button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>