<!-- START JUMBOTRON -->
<div class="jumbotron" data-pages="parallax">
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <!-- START BREADCRUMB -->
      <ul class="breadcrumb">
        <li>
          <p><%= t('shopkeeper_panel.name') %></p>
        </li>
        <li><%= t('shopkeeper_panel.transaction.name') %></li>
        <li><a href="#" class="active"><%= @user.name %></a>
        </li>
      </ul>
      <!-- END BREADCRUMB -->
    </div>
  </div>
</div>
<!-- END JUMBOTRON -->

<div class="panel-body">
  <div class="row">
    <div class="col-sm-10">
      <h3><%= t('shopkeeper_panel.transaction.page2.msg') %></h3>
      <p><%= t('shopkeeper_panel.transaction.page2.msg2') %></p>
      <br>
      <%= form_tag(controller: "shopkeeper", action: "second_hand_good_transact_submit", method: "get", class: "form-horizontal") do %>
        <%= hidden_field_tag(:cuid, @user.cu_identity_no) %>
        <%= hidden_field_tag(:buy_sell, params[:buy_sell]) %>
        <div class="form-group">
          <label for="name" class="col-sm-3 control-label"><%= t('shopkeeper_panel.transaction.page2.name') %></label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="name" value="<%= @user.name %>" name="name" disabled>
          </div>
        </div>
        <div class="form-group">
          <label for="cuid" class="col-sm-3 control-label"><%= t('shopkeeper_panel.transaction.page2.cuid') %></label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="cuid" value="<%= @user.cu_identity_no %>" disabled>
          </div>
        </div>
        <div class="form-group">
          <label for="current_amount" class="col-sm-3 control-label"><%= t('shopkeeper_panel.transaction.page2.current_amount') %></label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="current_amount" value="<%= @user.credit %>" name="current_amount" disabled>
          </div>
        </div>
        <div class="form-group">
          <table class="table">
            <thead>
              <tr>
                <th class="col-md-1">#</th>
                <th class="col-md-7">Type</th>
                <th class="col-md-2">Price</th>
                <th class="col-md-2">Quantity</th>
              </tr>
            </thead>
            <tobdy>
              <% (1..10).each do |i| %>
                <tr>
                  <td><%= i -%></td>
                  <td>
                    <select id="type_<%= i -%>" name="type_<%= i -%>" class="full-width" data-init-plugin="select2">
                      <optgroup label="-">
                        <option value="empty">-</option>
                      </optgroup>
                      <% SecondHandGoodCategory.all.each do |category| %>
                        <optgroup label="<%= category.id + " " + category.name -%>">
                          <% category.type.all.each do |type| %>
                            <option value="<%= type.id -%>"><%= type.id + " " + type.name -%></option>
                          <% end %>
                        </optgroup>
                      <% end %>
                    </select>
                  </td>
                  <td><input type="text" class="form-control" id="price_<%= i -%>" name="price_<%= i -%>"></td>
                  <td><input type="text" class="form-control" id="quantity_<%= i -%>" name="quantity_<%= i -%>"></td>
                </tr>
              <% end %>
            </tobdy>
          </table>
        </div>
        <div class="form-group">
          <label for="remark" class="col-sm-3 control-label"><%= t('shopkeeper_panel.transaction.page2.remark') %></label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="remark" name="remark" placeholder="<%= t('shopkeeper_panel.transaction.page2.remark_placeholder') %>">
          </div>
        </div>
        <br>
        <br>
        <div class="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-9">
            <button class="btn btn-success" data-disable-with="Please wait..." type="submit"><%= t('shopkeeper_panel.transcation.page2.submit') %></button>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<% content_for :footer do %>
  <script type="text/javascript">
    $(document).ready(function() {
      <% (1..10).each do |i| %>
      $('#type_<%= i -%>').on('change', function() {
        if (this.value != "empty") {
          $.getJSON('/shopkeeper/get_price', {type: this.value}, function(data) {
            $('#price_<%= i -%>').val(data.<% if params[:buy_sell]== "buy" -%>default_buying_price<% else -%>default_selling_price<% end -%>);
            $('#quantity_<%= i -%>').val("1");
          }); 
        } else {
          $('#price_<%= i -%>').val("");
            $('#quantity_<%= i -%>').val("");
        }
      });
      <%end%>
    });
  </script>
<% end %>