<!-- START JUMBOTRON -->
<div class="jumbotron" data-pages="parallax">
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <!-- START BREADCRUMB -->
      <ul class="breadcrumb">
        <li>
          <p><%= t('shopkeeper_panel.name') %></p>
        </li>
        <li><a href="#" class="active"><%= t('shopkeeper_panel.second_hand_good_transaction.name') %></a>
        </li>
      </ul>
      <!-- END BREADCRUMB -->
    </div>
  </div>
</div>
<!-- END JUMBOTRON -->



<div class="panel-body">
  <div class="row">
    <div class="col-sm-10">
      <h3><%= t('shopkeeper_panel.transaction.page1.cid.msg') %></h3>
      <p><%= t('shopkeeper_panel.transaction.page1.cid.msg2') %></p>
      <br>
      <form id="form-work-cid" class="form-horizontal" role="form" autocomplete="off" accept-charset="UTF-8" method="post" action="<%= request.fullpath.split("?")[0] -%>/get_user<% if I18n.locale == :en %>?locale=en&amp;<% else %>?<% end %>type=cid">
        <%= hidden_field_tag(:authenticity_token, form_authenticity_token) %>
        <div class="form-group">
          <label for="cid" class="col-sm-3 control-label"><%= t('shopkeeper_panel.transaction.page1.cid.id') %></label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="cid" placeholder="<%= t('shopkeeper_panel.transaction.page1.cid.id_placeholder') %>" name="cid" required autofocus>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-9">
            <button name="buy_sell" value="buy" class="btn btn-success" type="submit">換入</button>
            <button name="buy_sell" value="sell" class="btn btn-success" type="submit">換出</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10">
      <h3><%= t('shopkeeper_panel.transaction.page1.cuid.msg') %></h3>
      <br>
      <form id="form-work-cuid" class="form-horizontal" role="form" autocomplete="off" accept-charset="UTF-8" method="post" action="<%= request.fullpath.split("?")[0] -%>/get_user<% if I18n.locale == :en %>?locale=en&amp;<% else %>?<% end %>type=cuid">
        <%= hidden_field_tag(:authenticity_token, form_authenticity_token) %>
        <div class="form-group">
          <label for="cuid" class="col-sm-3 control-label"><%= t('shopkeeper_panel.transaction.page1.cuid.id') %></label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="cuid" placeholder="<%= t('shopkeeper_panel.transaction.page1.cuid.id_placeholder') %>" name="cuid" required>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-9">
            <button name="buy_sell" value="buy" class="btn btn-success" type="submit">換入</button>
            <button name="buy_sell" value="sell" class="btn btn-success" type="submit">換出</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10">
      <h3><%= t('shopkeeper_panel.transaction.page1.email.msg') %></h3>
      <br>
      <form id="form-work-email" class="form-horizontal" role="form" autocomplete="off" accept-charset="UTF-8" method="post" action="<%= request.fullpath.split("?")[0] -%>/get_user<% if I18n.locale == :en %>?locale=en&amp;<% else %>?<% end %>type=email">
        <%= hidden_field_tag(:authenticity_token, form_authenticity_token) %>
        <div class="form-group">
          <label for="email" class="col-sm-3 control-label"><%= t('shopkeeper_panel.transaction.page1.email.id') %></label>
          <div class="col-sm-9">
            <input type="text" class="form-control" id="email" placeholder="<%= t('shopkeeper_panel.transaction.page1.email.id_placeholder') %>" name="email" required>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-9">
            <button name="buy_sell" value="buy" class="btn btn-success" type="submit">換入</button>
            <button name="buy_sell" value="sell" class="btn btn-success" type="submit">換出</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>