<!-- START JUMBOTRON -->
<div class="jumbotron" data-pages="parallax">
  <div class="container-fluid container-fixed-lg sm-p-l-20 sm-p-r-20">
    <div class="inner">
      <!-- START BREADCRUMB -->
      <ul class="breadcrumb">
        <li>
          <p><%= t('shopkeeper_panel.name') %></p>
        </li>
        <li><%= t('shopkeeper_panel.transaction.name') %></li>
        <li><a href="#" class="active"><%= @user.name %></a>
        </li>
      </ul>
      <!-- END BREADCRUMB -->
    </div>
  </div>
</div>
<!-- END JUMBOTRON -->

<div class="panel-body">
  <div class="row">
    <div class="col-sm-10">
      <div class="panel panel-default bg-danger">
        <div class="panel-heading separator">
          <div class="panel-title"><%= t('shopkeeper_panel.transaction.error.name') %></div>
        </div>
        <div class="panel-body">
          <h3>
            <span class="semi-bold"><%= t('shopkeeper_panel.transaction.error.name') %></span> <%= t('shopkeeper_panel.transaction.error2.detail') %>
          </h3>
          <p class="text-black hint-text"><%= t('shopkeeper_panel.transaction.error2.hint') %></p>
        </div>
      </div>  
    </div>
  </div>
</div>