<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title><%= t('users.registrations.new.title') %> - <%= t('shopname') %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="apple-touch-icon" href="pages/ico/60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="pages/ico/76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="pages/ico/120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="pages/ico/152.png">
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta content="" name="description" />
    <meta content="" name="author" />
  
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <!--[if lte IE 9]>
  <link href="/pages/css/ie9.css?v=pages-v1.0.0" rel="stylesheet" type="text/css" />
  <![endif]-->

  <script type="text/javascript">
    window.onload = function() {
      // fix for windows 8
      if (navigator.appVersion.indexOf("Windows NT 6.2") != -1)
        document.head.innerHTML += '<link rel="stylesheet" type="text/css" href="/pages/css/windows.chrome.fix.css?v=pages-v1.0.0" />'
    }
  </script>

  <%= csrf_meta_tags %>
  </head>
  <body class="fixed-header">
    <div class="modal fade fill-in" id="terms" tabindex="-1" role="dialog" aria-labelledby="modalFillInLabel" aria-hidden="false">
      <div class="modal-dialog ">
          <div class="modal-content">
              <div class="modal-header">
                  <h1 class="text-left p-b-5"><span class="semi-bold">山城角樂社員須知及權利</span></h1>
              </div>
              <div class="modal-body">
                  <div class="row">
                    <p>1. 山城角樂（學生社區經濟計劃）由一班中大同學組成，致力以合作社形式於中大建立一個社區空間，提倡善用資源、平等參與。</p>
                    <p>2. 所收集的個人資料僅供山城角樂營運使用，本社未經同意不會外洩任何社員資料。</p>
                    <p>3. 山城角樂以社員制運作，社員對象為所有持有效中大通的中大學生及職員。山城角樂將設立中央電腦系統，用作記錄交易及結算社區貨幣 。每名社員擁有獨立的帳號，以記錄交易資料。</p>
                    <p>4. 「山城時分」為本社發行之社區貨幣，僅於中大社區內流通，並不能兌換現金。</p>
                    <p>5. 為鼓勵社員參與二手物交換及合作社其他業務，入社有20時分迎新回贈，並可即時使用。</p>
                    <p>6. 此計劃現階段仍處於試驗性質，發放之時分起碼有效期為一年，至2017年2月28日，我們會適時檢討計劃，並預早2個月公佈社員所持的時分於2017年2月28日後能否延長有效期。</p>
                    <p>7. 合作社設管理委員會，負責處理合作社的理念、方向、財政等策劃。2016/17學年管委會將由社員選舉產生。</p>
                    <p>8. 本社重視平等參與，鼓勵社員參與社員集思會，並透過網上平台、到實體店與其他社員表達意見和討論，商議合作社各項事務，如貨品內容、價格、營運、空間等，實踐校園民主。以下為社員的權利：<br><br>
                    I.  合作社營運方針之討論<br>
                    II. 參選及選舉管理委員會成員<br>
                    III.  加入成為小組組員及店員<br>
                    IV. 享有合作社提供之福利
                    </p>
                    <p>9. 歡迎社員一起參與構想中大社區的各種可能性，不論知識生產、技能交換或資源共享，唯本社會依照管理委員會的討論結果作最終決定。</p>
                    <p>10.二手物的換出換入分數有機會按社員意見調整，屆時將另行通知。</p>
                  </div>
                  <div class="row">
                      <div class="col-md-9">
                      </div>
                      <div class="col-md-3 text-center">
                          <button type="button" class="btn btn-primary btn-lg btn-large fs-15" data-dismiss="modal" aria-hidden="true">本人理解並同意上述條款及守則</button>
                      </div>
                  </div>
              </div>
              <div class="modal-footer">

              </div>
          </div>
          <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
      </div>
    <div class="register-container full-height sm-p-t-30">
      <div class="container-sm-height full-height">
        <div class="row row-sm-height">
          <div class="col-sm-12 col-sm-height col-middle">
            <!--Form Start -->
            <h3><%= t('users.registrations.new.headline') %></h3>
            <p>
              <small>
                <%= t('users.registrations.new.tagline') %>
              </small>
            </p>
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "p-t-15"}) do |f| %>
              <%= devise_error_messages! %>
              <h4><%= t('users.registrations.new.form.category1') %></h4>
              <div class="row">
                <!-- Name Start -->
                <div class="col-sm-4">
                  <div class="form-group form-group-default">
                    <label for="user_name"><%= t('users.registrations.new.form.name') %></label>
                    <input type="text" id="user_name" name="user[name]" placeholder="<%= t('users.registrations.new.form.name_placeholder') %>" class="form-control" required autofocus>
                  </div>
                </div>
                <!-- Name End -->
                <!-- Name Start -->
                <div class="col-sm-4">
                  <div class="form-group form-group-default">
                    <label for="user_chi_name"><%= t('users.registrations.new.form.chi_name') %></label>
                    <input type="text" id="user_chi_name" name="user[chi_name]" placeholder="<%= t('users.registrations.new.form.chi_name_placeholder') %>" class="form-control">
                  </div>
                </div>
                <!-- Name End -->
                <!-- Name Start -->
                <div class="col-sm-4">
                  <div class="form-group form-group-default">
                    <label for="user_display_name"><%= t('users.registrations.new.form.display_name') %></label>
                    <input type="text" id="user_display_name" name="user[display_name]" placeholder="<%= t('users.registrations.new.form.display_name_placeholder') %>" class="form-control" required>
                  </div>
                </div>
                <!-- Name End -->
              </div>

              <div class="row">
                <!-- Gender Start -->
                <div class="col-sm-6">
                  <div class="form-group form-group-default">
                    <label for="user_gender"><%= t('users.registrations.new.form.gender') %></label>
                    <div class="radio radio-success" style="margin-top: 0; margin-bottom: 0">
                      <input type="radio" checked="checked" value="male" name="user[gender]" id="user_gender_male">
                      <label for="user_gender_male" style="display: inline; margin-right: 15px"><%= t('users.registrations.new.form.gender_male') %></label>
                      <input type="radio" value="female" name="user[gender]" id="user_gender_female">
                      <label for="user_gender_female" style="display: inline; margin-right: 15px"><%= t('users.registrations.new.form.gender_female') %></label>
                      <input type="radio" value="x" name="user[gender]" id="user_gender_x">
                      <label for="user_gender_x" style="display: inline; margin-right: 15px"><%= t('users.registrations.new.form.gender_x') %></label>
                    </div>
                  </div>
                </div>
                <!-- Gender End -->
                <!-- Date of Birth Start -->
                <div class="col-sm-6">
                  <div id="myDatepicker" class="form-group form-group-default input-group date">
                    <label for="user_date_of_birth"><%= t('users.registrations.new.form.date_of_birth') %></label>
                    <input type="text" id="user_date_of_birth" name="user[date_of_birth]" placeholder="<%= t('users.registrations.new.form.date_of_birth_placeholder') %>" class="form-control">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                  </div>
                </div>
                <!-- Date of Birth End -->
              </div>

              <div class="row">
                <!-- Mobile Start -->
                <div class="col-sm-12">
                  <div class="form-group form-group-default">
                    <label for="user_mobile"><%= t('users.registrations.new.form.mobile') %></label>
                    <input type="text" id="user_mobile" class="form-control" required>
                    <input id="user_mobile_hidden" type="hidden" name="user[mobile]">
                  </div>
                </div>
                <!-- Mobile End -->
              </div>

              <h4><%= t('users.registrations.new.form.category2') %></h4>
              <div class="row">
                <!-- CU Identity Start -->
                <div class="col-sm-6">
                  <div class="form-group form-group-default">
                    <label for="user_cu_identity"><%= t('users.registrations.new.form.cu_identity') %></label>
                    <div class="radio radio-success" style="margin-top: 0; margin-bottom: 0">
                      <input type="radio" checked="checked" value="student" name="user[cu_identity]" id="user_identity_student">
                      <label for="user_identity_student" style="display: inline; margin-right: 15px"><%= t('users.registrations.new.form.cu_identity_student') %></label>
                      <input type="radio" value="staff" name="user[cu_identity]" id="user_identity_staff">
                      <label for="user_identity_staff" style="display: inline; margin-right: 15px"><%= t('users.registrations.new.form.cu_identity_staff') %></label>
                      <!--<input type="radio" value="x" name="user[cu_identity]" id="user_identity_other">
                      <label for="user_identity_other" style="display: inline; margin-right: 15px"><%= t('users.registrations.new.form.cu_identity_other') %></label>-->
                    </div>
                  </div>
                </div>
                <!-- CU Identity End -->
                <!-- CU Identity No. Start -->
                <div class="col-sm-6">
                  <div class="form-group form-group-default">
                    <label for="user_cu_identity_no"><%= t('users.registrations.new.form.cu_identity_no') %></label>
                    <input type="text" id="user_cu_identity_no" name="user[cu_identity_no]" placeholder="<%= t('users.registrations.new.form.cu_identity_no_placeholder') %>" class="form-control" required>
                  </div>
                </div>
                <!-- CU Identity No. End -->
              </div>
              <div class="row">
                <!-- Major Start -->
                <div class="col-sm-6">
                    <div class="form-group form-group-default">
                      <label for="user_major"><%= t('users.registrations.new.form.major') %></label>
                      <select id="user_major" name="user[major]" class="full-width" data-init-plugin="select2">
                        <optgroup label="Scroll Down for MORE">
                          <option value="N/A">N/A</option>
                        </optgroup>
                        <optgroup label="<%= t('users.registrations.new.form.major_name.na') %>">
                          <option value="Master"><%= t('users.registrations.new.form.major_name.master') %></option>
                          <option value="Doctor"><%= t('users.registrations.new.form.major_name.doctor') %></option>
                          <option value="Other"><%= t('users.registrations.new.form.major_name.other') %></option>
                        </optgroup>
                        <optgroup label="<%= t('users.registrations.new.form.major_name.fa') %>">
                          <option value="ANTH"><%= t('users.registrations.new.form.major_name.anth') %></option>
                          <option value="CHLL"><%= t('users.registrations.new.form.major_name.chll') %></option>
                          <option value="CULS"><%= t('users.registrations.new.form.major_name.culs') %></option>
                          <option value="CUMT"><%= t('users.registrations.new.form.major_name.cumt') %></option>
                          <option value="ENGE"><%= t('users.registrations.new.form.major_name.enge') %></option>
                          <option value="FAAS"><%= t('users.registrations.new.form.major_name.faas') %></option>
                          <option value="HIST"><%= t('users.registrations.new.form.major_name.hist') %></option>
                          <option value="JASP"><%= t('users.registrations.new.form.major_name.jasp') %></option>
                          <option value="LING"><%= t('users.registrations.new.form.major_name.ling') %></option>
                          <option value="MUSC"><%= t('users.registrations.new.form.major_name.musc') %></option>
                          <option value="PHIL"><%= t('users.registrations.new.form.major_name.phil') %></option>
                          <option value="RELS"><%= t('users.registrations.new.form.major_name.rels') %></option>
                          <option value="THEO"><%= t('users.registrations.new.form.major_name.theo') %></option>
                          <option value="TRAN"><%= t('users.registrations.new.form.major_name.tran') %></option>
                        </optgroup>
                        <optgroup label="<%= t('users.registrations.new.form.major_name.fba') %>">
                          <option value="BBBA"><%= t('users.registrations.new.form.major_name.bbba') %></option>
                          <option value="HTMG"><%= t('users.registrations.new.form.major_name.htmg') %></option>
                          <option value="IBBA"><%= t('users.registrations.new.form.major_name.ibba') %></option>
                          <option value="PACC"><%= t('users.registrations.new.form.major_name.pacc') %></option>
                        </optgroup>
                        <optgroup label="<%= t('users.registrations.new.form.major_name.fed') %>">
                          <option value="BMED"><%= t('users.registrations.new.form.major_name.bmed') %></option>
                          <option value="CLED"><%= t('users.registrations.new.form.major_name.cled') %></option>
                          <option value="ELED"><%= t('users.registrations.new.form.major_name.eled') %></option>
                          <option value="ESHE"><%= t('users.registrations.new.form.major_name.eshe') %></option>
                          <option value="LSED"><%= t('users.registrations.new.form.major_name.lsed') %></option>
                          <option value="PESH"><%= t('users.registrations.new.form.major_name.pesh') %></option>
                        </optgroup>
                        <optgroup label="<%= t('users.registrations.new.form.major_name.ferg') %>">
                          <option value="BERG"><%= t('users.registrations.new.form.major_name.berg') %></option>
                          <option value="BMEG"><%= t('users.registrations.new.form.major_name.bmeg') %></option>
                          <option value="CENG"><%= t('users.registrations.new.form.major_name.ceng') %></option>
                          <option value="CSCI"><%= t('users.registrations.new.form.major_name.csci') %></option>
                          <option value="ELEG"><%= t('users.registrations.new.form.major_name.eleg') %></option>
                          <option value="ENER"><%= t('users.registrations.new.form.major_name.ener') %></option>
                          <option value="IERG"><%= t('users.registrations.new.form.major_name.ierg') %></option>
                          <option value="MAEG"><%= t('users.registrations.new.form.major_name.maeg') %></option>
                          <option value="SEEM"><%= t('users.registrations.new.form.major_name.seem') %></option>
                        </optgroup>
                        <optgroup label="<%= t('users.registrations.new.form.major_name.flaw') %>">
                          <option value="LAWS"><%= t('users.registrations.new.form.major_name.laws') %></option>
                        </optgroup>
                        <optgroup label="<%= t('users.registrations.new.form.major_name.fmed') %>">
                          <option value="CHPR"><%= t('users.registrations.new.form.major_name.chpr') %></option>
                          <option value="BCME"><%= t('users.registrations.new.form.major_name.bcme') %></option>
                          <option value="BSCG"><%= t('users.registrations.new.form.major_name.bscg') %></option>
                          <option value="MEDU"><%= t('users.registrations.new.form.major_name.medu') %></option>
                          <option value="NURS"><%= t('users.registrations.new.form.major_name.nurs') %></option>
                          <option value="PHAR"><%= t('users.registrations.new.form.major_name.phar') %></option>
                          <option value="PHPC"><%= t('users.registrations.new.form.major_name.phpc') %></option>
                        </optgroup>
                        <optgroup label="<%= t('users.registrations.new.form.major_name.fsci') %>">
                          <option value="BSCI"><%= t('users.registrations.new.form.major_name.bsci') %></option>
                          <option value="BCHE"><%= t('users.registrations.new.form.major_name.bche') %></option>
                          <option value="BIOL"><%= t('users.registrations.new.form.major_name.biol') %></option>
                          <option value="CMBI"><%= t('users.registrations.new.form.major_name.cmbi') %></option>
                          <option value="CHEM"><%= t('users.registrations.new.form.major_name.chem') %></option>
                          <option value="ENSC"><%= t('users.registrations.new.form.major_name.ensc') %></option>
                          <option value="FNSC"><%= t('users.registrations.new.form.major_name.fnsc') %></option>
                          <option value="ESSC"><%= t('users.registrations.new.form.major_name.essc') %></option>
                          <option value="MATH"><%= t('users.registrations.new.form.major_name.math') %></option>
                          <option value="MBTE"><%= t('users.registrations.new.form.major_name.mbte') %></option>
                          <option value="PHYS"><%= t('users.registrations.new.form.major_name.phys') %></option>
                          <option value="STAT"><%= t('users.registrations.new.form.major_name.stat') %></option>
                          <option value="NSCI"><%= t('users.registrations.new.form.major_name.nsci') %></option>
                          <option value="RMSC"><%= t('users.registrations.new.form.major_name.rmsc') %></option>
                        </optgroup>
                        <optgroup label="<%= t('users.registrations.new.form.major_name.fssci') %>">
                          <option value="BSSC"><%= t('users.registrations.new.form.major_name.bssc') %></option>
                          <option value="ARCH"><%= t('users.registrations.new.form.major_name.arch') %></option>
                          <option value="COMM"><%= t('users.registrations.new.form.major_name.comm') %></option>
                          <option value="CCSS"><%= t('users.registrations.new.form.major_name.ccss') %></option>
                          <option value="ECON"><%= t('users.registrations.new.form.major_name.econ') %></option>
                          <option value="GDRS"><%= t('users.registrations.new.form.major_name.gdrs') %></option>
                          <option value="GLBS"><%= t('users.registrations.new.form.major_name.glbs') %></option>
                          <option value="GPAD"><%= t('users.registrations.new.form.major_name.gpad') %></option>
                          <option value="GRMD"><%= t('users.registrations.new.form.major_name.grmd') %></option>
                          <option value="PSYC"><%= t('users.registrations.new.form.major_name.psyc') %></option>
                          <option value="SOCI"><%= t('users.registrations.new.form.major_name.soci') %></option>
                          <option value="SOWK"><%= t('users.registrations.new.form.major_name.sowk') %></option>
                          <option value="URSP"><%= t('users.registrations.new.form.major_name.ursp') %></option>
                        </optgroup>
                        <optgroup label="<%= t('users.registrations.new.form.major_name.intd') %>">
                          <option value="GLEF"><%= t('users.registrations.new.form.major_name.glef') %></option>
                          <option value="QFRM"><%= t('users.registrations.new.form.major_name.qfrm') %></option>
                          <option value="MIEG"><%= t('users.registrations.new.form.major_name.mieg') %></option>
                        </optgroup>
                      </select>
                  </div>
                </div>
                <!-- Major End -->
                <!-- CU Resident Start -->
                <div class="col-sm-6">
                  <div class="form-group form-group-default">
                    <label for="user_cu_resident"><%= t('users.registrations.new.form.cu_resident') %></label>
                    <div class="radio radio-success" style="margin-top: 0; margin-bottom: 0">
                      <input type="radio" checked="checked" value="false" name="user[cu_resident]" id="user_cu_resident_false">
                      <label for="user_cu_resident_false" style="display: inline; margin-right: 15px"><%= t('users.registrations.new.form.cu_resident_false') %></label>
                      <input type="radio" value="true" name="user[cu_resident]" id="user_cu_resident_true">
                      <label for="user_cu_resident_true" style="display: inline; margin-right: 15px"><%= t('users.registrations.new.form.cu_resident_true') %></label>
                    </div>
                  </div>
                </div>
                <!-- CU Resident End -->
               
              </div>
              <div class="row">
                 <!-- Year of Admission Start -->
                <div class="col-sm-6">
                  <div class="form-group form-group-default">
                    <label for="user_year_of_admission"><%= t('users.registrations.new.form.year_of_admission') %></label>
                    <select id="user_year_of_admission" name="user[year_of_admission]" class="cs-select cs-skin-slide" data-init-plugin="cs-select">
                      <option value="0">N/A</option>
                      <option value="2015">2015/16</option>
                      <option value="2014">2014/15</option>
                      <option value="2013">2013/14</option>
                      <option value="2012">2012/13</option>
                      <option value="2011">2011/12</option>
                    </select>
                  </div>
                </div>
                <!-- Year of Admission End -->
                <!-- Expected Year of Graduation Start -->
                <div class="col-sm-6">
                  <div class="form-group form-group-default">
                    <label for="user_year_of_graduation"><%= t('users.registrations.new.form.year_of_graduation') %></label>
                    <input type="text" id="user_year_of_graduation" name="user[year_of_graduation]" placeholder="<%= t('users.registrations.new.form.year_of_graduation_placeholder') %>" class="form-control">
                  </div>
                </div>
                <!-- Expected Year of Graduation End -->
              </div>
              <h4><%= t('users.registrations.new.form.category3') %></h4>
              <div class="row">
                <!-- Email Start -->
                <div class="col-sm-12">
                  <div class="form-group form-group-default">
                    <label for="user_email"><%= t('users.registrations.new.form.email') %></label>
                    <input type="email" name="user[email]" placeholder="<%= t('users.registrations.new.form.email_placeholder') %>" class="form-control" required>
                  </div>
                </div>
                <!-- Email End -->
              </div>
              <div class="row">
                <!-- Password Start -->
                <div class="col-sm-12">
                  <div class="form-group form-group-default">
                    <label for="user_password"><%= t('users.registrations.new.form.password') %></label>
                    <input minlength="8" type="password" id="user_password" name="user[password]" placeholder="<%= t('users.registrations.new.form.password_placeholder') %>" class="form-control" required>
                  </div>
                </div>
                <!-- Password End -->
              </div>
              <div class="row">
                <!-- Password Confirmation Start -->
                <div class="col-sm-12">
                  <div class="form-group form-group-default">
                    <label for="user_password_confirmation"><%= t('users.registrations.new.form.password_confirmation') %></label>
                    <input minlength="8" type="password" id="user_password_confirmation" name="user[password_confirmation]" placeholder="<%= t('users.registrations.new.form.password_confirmation_placeholder') %>" class="form-control" required>
                  </div>
                </div>
                <!-- Password Confirmation End -->
              </div>
              <div class="row m-t-10">
                <div class="col-md-6">
                  <!--<p>I agree to the <a href="#" class="text-info small">Pages Terms</a> and <a href="#" class="text-info small">Privacy</a>.</p>-->
                </div>
                <div class="col-md-6 text-right">
                  <!--<a href="#" class="text-info small">Help? Contact Support</a>-->
                </div>
              </div>
              <button class="btn btn-primary btn-cons m-t-10" data-disable-with="Please wait..." type="submit"><%= t('users.registrations.new.form.sign_up') %></button>
            <% end %>
            <!-- Form END -->
          </div>
        </div>
      </div>
    </div>
    <div class="full-width">
      <div class="register-container m-b-10 clearfix">
        <div class="inline pull-left">
        </div>
        <div class="col-md-10 m-t-15">
          <p class="hinted-text small inline "><%= t('quote.s1') %></p>
        </div>
      </div>
    </div>
    <!-- BEGIN VENDOR JS -->
    <!-- JS at bottom of page to improve load time, and only loaded once with 'data-turbolinks-eval' == false  -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true, 'data-turbolinks-eval' => false %>
    <script>
    $(document).ready(function() {
      $("#new_user").validate(
        {rules: {
          "user[password_confirmation]": {
            equalTo: "#user_password"
          }
        }}
      );
      $('#terms').modal({
        keyboard: false
      })
      $('#myDatepicker').datepicker({
        format: 'dd/mm'
      }).on('show', function() {
          // remove the year from the date title before the datepicker show
          var dateText  = $(".datepicker-days .datepicker-switch").text();
          var dateTitle = dateText.substr(0, dateText.length - 5);
          $(".datepicker-days .datepicker-switch").text(dateTitle);
      });

      /*$('#user_cu_identity').on('change', function() {
        if (this.value = "staff") {
          $("#user_year_of_admission").attr("disabled", true);
          $("#user_year_of_graduation").attr("disabled", true);
        } else if (this.value = "student") {
          $("#user_year_of_admission").removeAttr("disabled");
          $("#user_year_of_graduation").removeAttr("disabled");
        }
      });*/
    });


    $("#user_mobile").intlTelInput({
      preferredCountries: ["hk"],
      utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/7.1.1/lib/libphonenumber/build/utils.js" 
    });
    // update the hidden input on submit
    $("form").submit(function() {
      $("#user_mobile_hidden").val($("#user_mobile").intlTelInput("getNumber"));
    });
    </script>
  </body>
</html>